/* *, *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/
/*@font-face{
    font-family : 'Raleway'
}*/
body{
    margin: auto;
    width: 93%;
    font-family: Raleway, Sans-serif;
}

/* HEADER */
header{
    display: flex;
    flex-direction: row;
    height: 130px;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 115px;
    margin-top: 35px;
    margin-left: 5px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-right: 75px;
}

nav li{
    padding-top: 10px;
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
    margin-right: 22px;
}

nav a{
    color: black;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
}

nav a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 56px;
}


                    /* MAIN */
/*Recherches : titre*/
#recherches{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#recherches #titre-recherches{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2px;
}
h1{
    font-weight: 700;
    font-size: 28px;
    padding-top: 9px;
    margin-bottom: 0;
}
#titre-recherches p{
    font-weight: 500;
    font-size: 20px;
    margin-top: 9px;
}

/*Recherches : formulaire*/
form{
    position: relative;
    left: 70px;
    top: 5px;
    height: 64px;
}
.info{
    position: absolute;
    left: -68px;
    padding-left: 22px;
    padding-right: 26px;
    padding-top: 2px;
    background-color: #f2f2f2;
    height: 64px;
    font-size: 22px;
    border-radius: 20px 0 0 20px;
}
input{
    width: 283px;
    height: 64px;
    font-size: 23px;
    font-weight: bold;
    padding-left: 16px;
    border: none;
}
#rechercher{
    width: 169px;
    height: 64px;
    background-color: #0065fc;
    color: #fff;
    font-size: 23px;
    font-weight: bold;
    border-radius: 0 20px 20px 0;
    border-color: #0065fc;
    cursor: pointer;
}   

/*Recherches : filtres*/
#filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 48px;
    width: 70%;
    height: 60px;
    margin-left: 5px;
}
h3{
    padding-left: 8px;
    font-size: 22px;
}
.filtre1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid hsl(0, 5%, 85%);
    border-radius: 30px;
    margin-left: 45px;
    height: 60px;
}
.filtre1 p{
    font-size: 23px;
    font-weight: bold;
    margin-right: 22px;
    margin-left: 15px;
}
.filtre1 div{
    background-color: #deebff;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -6px;
    cursor: pointer;
}
.filtre2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid hsl(0, 5%, 85%);
    border-radius: 30px;
    margin-left: 38px;
    height: 60px;
    margin-right: -3px;
}
.filtre2 p{ font-size: 23px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 21px;
}
.filtre2 div{
    background-color: #deebff;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -6px;
    cursor: pointer;
}
.filtre3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid hsl(0, 5%, 85%);
    border-radius: 30px;
    margin-left: 35px;
    height: 60px;
}
.filtre3 p{
    font-size: 23px;
    font-weight: bold;
    margin-right: 15px;
    margin-left: 20px;
}
.filtre3 div{
    background-color: #deebff;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -6px;
    cursor: pointer;
}
.filtre4{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 2px solid hsl(0, 5%, 85%);
    border-radius: 30px;
    margin-left: 30px;
    margin-right: -30px;
    height: 60px;
}
.filtre4 p{
    font-size: 23px;
    font-weight: bold;
    margin-right: 20px;
    margin-left: 15px;
}
.filtre4 div{
    background-color: #deebff;
    width: 62px;
    height: 62px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-left: -6px;
    cursor: pointer;
}

.filtre1 .icone, .filtre2 .icone, .filtre3 .icone, .filtre4 .icone{
    font-size: 25px;
    color: #0065fc;
}
.filtre1:hover, .filtre2:hover, .filtre3:hover, .filtre4:hover{
    color: #fff;
    background-color: #0065fc;
}
.filtre1 div:hover, .filtre2 div:hover, .filtre3 div:hover, .filtre4 div:hover{
    color: #fff;
    opacity: 0.6;
}


/*Recherches : info*/
#info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 32%;
    margin-top: 22px;
    margin-left: 0px;
}

#info div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border-radius: 50%;
    margin-left: 5px;
    border: 1px solid hsl(0, 5%, 85%);
    font-size: 17px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}

#info p{
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
    margin-left: -80px;
    margin-right: 0px;
}


/*Conteneur : hebergements*/

#conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 65px;
    
}
.hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    max-width: 65%;
    background-color: hsl(0, 5%, 85%);
    border-radius: 20px;
   
}
.hebergements h2{
    font-size: 27px;
    font-weight: bold;
    margin-left: 45px;
}


.hebergements #chambre{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    background-color: hsl(0, 5%, 85%);
    border-radius: 20px;
    margin-left: 6px;
    
}

#chambre article a{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: nowrap;
    border-radius: 25px;
    background-color: #fff;
    margin-bottom: 37px;
    margin-left: 41px;
    width: 307px;             
    height: 250px;            
    text-decoration: none;
    color: black;
}

#chambre a .nom-hotel{
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 307px;
    max-height: 107px;
}

#chambre a img{
    width: 295px;
    height: 143px;
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    margin: 5px;
  
}

a .nom-hotel h3{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 2px;
    margin-top: -2px;
}

a .nom-hotel p{
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-left: 12px;
    margin-top: -15px;
}

a .nom-hotel p em{
    font-weight: bold;
    font-style: normal;
}

.nom-hotel div{
    color: #0065fc;
    font-size: 16px;
    margin-left: 12px;
   margin-top: -7px;
}
.hebergements a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 45px;
}



           /*populaires*//******/
.populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    max-width: 35%;
    margin-right: 80px;
    background-color: hsl(0, 5%, 85%);
    border-radius: 20px;
}

#titre-populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: -30px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             

#titre-populaires h2{
    font-size: 27px;                                                                   
    font-weight: bold;
    margin-left: 27px;
    margin-right: 150px;
}

#titre-populaires .icone{
    font-size: 24px;
    margin-left: -1px;
}

#hebergements-populaires{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

#hebergements-populaires article{
    border-radius: 20px;
    width: 427px;
    height: 187px;
    margin-right: 63px;
    margin-bottom: 30px;
}

#hebergements-populaires a{
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    background-color: #fff;
}


a .intitule h3{
    color: black;
    font-size: 20px;
    font-weight: bold;
    margin-left: 12px;
    flex-wrap: wrap;
    margin-right: 20px;
    margin-top: 6px;
}
a .intitule p {
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin-left: 20px;
    margin-top: -12px;
}

#hebergements-populaires a img{
    width: 157px;
    height: 166px;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    margin: 5px;
}


article a .intitule div{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin-left: 20px;
    color: #0065fc;
    padding-top: 32px;
}

.intitule p em{
    font-weight: bold;
    font-style: normal;
}


                    /*activités*/
#activites{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}  
#activites h2{
    font-size: 24px;
    font-weight: bold;
}  
#activites div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: nowrap;
}   
.duo div{
    display: flex;
    flex-direction: column;
    border: 1px solid hsl(0, 5%, 85%);
    border-radius: 20px;

}
article a{
    text-decoration: none;
    
}
.photo1 img{
    width: 375px;
    height: 487px;/**/
    object-fit: cover;
    border-radius: 20px 20px 0 0;
} 
.photo2 img{
    width: 375px;
    height: 226px;/**/
    object-fit: cover;
    
} 
.photo3 img{
    width: 375px;
    height: 137px;/**/
    object-fit: cover;
    
}
.photo4 img{
    width: 375px;
    height: 175px;/**/
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}  
.photo5 img{
    width: 375px;
    height: 190px;/**/
    object-fit: cover;
    border-radius: 20px 20px 0 0;
}
a p{
    width: 375px;
    height: 35px;
    border-radius: 0 0 20px 20px;
    color: black;
    font-size: 16px;
    font-weight: bold;
    text-align: left;
    margin-left: 10px;
}*/







/* Footer */
footer{
    display: flex;
    margin-top: 9%;
    background-color: #f2f2f2;
}
footer li{
    list-style-type: none;
}

footer section{
   
   
    justify-content: space-between;
    margin-right: auto;
    padding-left: 10px;
    
  
}

footer h2{
 padding-left: 40px;
}

/* Media Queries */

/*@media  screen and (min-widdth : 992px) {
    
}*/


@media all and ( min-width: 768px) and ( max-width: 992px){
    header{
        display: flex;
        flex-direction: column;
        
        
    }
   

    nav a:hover{
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
        padding-bottom: 20px;
        text-decoration: none;
        
        
    }

}

@media all and (max-width : 768px){
    header{
        
        display: flex;
        flex-direction: column;
       
    }

   

    nav a:hover{
       border-bottom: #0065fc;
       color: #0065fc;
       text-decoration: none;
      
        
    }

    

    h1{
        margin: auto;
    }
    
    

}