/* *, *:before, *:after{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}*/
/*@font-face{
    font-family : 'Raleway'
}*/


*{
    font-family: "Raleway"; 
}

                /* HEADER */
header nav{
    display: flex;
    flex-direction: row;
    width: 95%;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    margin-top: 55px;
    margin-right: 50px;
}

nav img{
    width: 115px;
    margin-left: 20px;
}

nav ul{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

nav li{
    font-weight: normal;
    font-size: 20px;
    list-style-type: none;
}

ul a{
    color: black;
    text-decoration: none;
    padding-left: 30px;
    padding-right: 30px;
   
}
nav a:hover{
    color: #0065fc;
    border-top: 2px solid #0065fc;
    padding-top: 65px;
}
main{
    width: 95%;
    margin: auto;
}

#recherches{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#titre-recherches{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
#titre-recherches h1{
    font-weight: bold;
    font-size: 28px;
    margin-top: 5%;
    margin-bottom: 0;
}
#titre-recherches p{
    font-weight: 500;
    font-size: 20px;
}

/*Recherche : formulaire*/
form {
    position: relative;
    width: 555px;
    height: 66px;
    border: 2px solid #f2f2f2;
    border-radius: 25px;
}

.map-icone{
    position: absolute;
    font-size: 22px;
    background-color: #f2f2f2;
    border-radius: 20px 0 0 20px;
    padding: 22px;
    top: 0;
    left: 0;
}

form input{
    position: absolute;
    text-align: left;
    padding-left: 20px;
    top: 0%;
    left: 60px;
    height: 60px;
    font-size: 22px;
    font-weight: bold;
    border: none;
    width: 322px;
    max-width: 58%;
}
.envoyer{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 22px;
    font-weight: bold;
    background-color: #0065fc;
    color: #fff;
    height: 66px;
    width: 150px;
    border-radius: 0 20px 20px 0;
    border: none;
}
.icone-loupe{
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    width: 64px;
    height: 64px;
    font-size: 22px;
    font-weight: bold;
    background-color: #0065fc;
    color: #fff;
    border-radius: 20px;
    border: none;
}
/*filtres*/

.filtres{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 30px;
}
.filtres p{
    font-size: 22px;
    font-weight: bold;
    
}
.options{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30px;
}
.choix{
    display: flex;
    align-items: center;
    border: 3px solid #f2f2f2;
    border-left: none;
    border-radius: 30px;
    margin-right: 40px;
    cursor: pointer;
    height: 60px;
}
.choix div{
    width: 62px;
    height: 62px;
    background-color: #deebff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: visible;
    font-size: 22px;
    color: #0065fc;
    margin-left: -3px;
}

.choix p{
    text-align: center;
    padding-left: 15px;
    padding-right: 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 30px;
    height: 25px;
    margin: 0;
}
.choix:hover{
    color: #deebff;
    background-color: #0065fc;
}


/*Recherches : info*/

#info{
    display: flex;
    align-items: center;
    width: 100%;
    margin-top: 22px;
}
#info div{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #0065fc;
    border-radius: 50%;
    border: 1px solid hsl(0, 5%, 85%);
    font-size: 17px;
    width: 27px;
    height: 27px;
    cursor: pointer;
}
#info p{
    font-size: 20px;
    font-weight: 400;
    margin-left: 10px;
}

/*Conteneur : hebergements*/

#conteneur{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 30px;
}
.hebergements{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 63%;
    background-color: #f2f2f2;
    border-radius: 20px;
}
.hebergements h2{
    font-size: 26px;
    font-weight: bold;
    margin-left: 4%;
}
#chambre{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-content: center;
    border-radius: 20px;
    margin: auto;
    width: 100%;
}
#chambre a{
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    background-color: #fff;
    width: 30%;
    min-width: 300px;
    margin: 2% auto;        
    height: 260px;        
    text-decoration: none;
    color: black;
    box-shadow: 0 0 8px 5px #f2f2f2;
}
#chambre a:hover{
    color: #deebff;
    background-color: cadetblue;
}
#chambre a img{
    border-radius: 20px 20px 0 0;
    object-fit: cover;
    width: 96%; /*290px;*/
    margin: 2%;
    height: 145px;
}

.nom-hotel{
    display: flex;
    flex-direction: column;
    margin-top: 3%;
    margin-left: 10%;
    width: 80%;
}
.nom-hotel h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;
}

.nom-hotel p{
    color: black;
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    margin-top: 2%;
}

.nom-hotel p em{
    font-weight: bold;
    font-style: normal;
}

.nom-hotel div{
    color: #0065fc;
    font-size: 16px;
    margin: 0;
} 

/*ETOILE*/
.etoiles .fond{
  color: #f2f2f2;
}

/*Lien du bas*/
.hebergements .plus a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}
.hebergements .plus{
    margin-bottom: 4%;
    margin-left: 3%;
}




           /*populaires*/
.populaires{
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    border-radius: 20px;
    width: 30%;
}

#titre-populaires{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             

#titre-populaires h2{
    font-size: 26px;                                                                   
    font-weight: bold;
}

#titre-populaires .icone{
    font-size: 24px;
}

#hebergements-populaires {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 4% auto;
}


#hebergements-populaires a{
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    border-radius: 25px;
    background-color: #fff;
    color: black;
    margin-bottom: 5%;
    width: 100%;     /*400px;  90%*/
    height: 170px;
    box-shadow: 0 0 8px 5px #f2f2f2;
   
}
#hebergements-populaires a:hover{
    color: #deebff;
    background-color: cadetblue;
}

#hebergements-populaires a img{
    height: 96%;
    width: 40%;
    border-radius: 20px 0 0 20px;
    object-fit: cover;
    margin: 1%;
}
#hebergements-populaires a figcaption{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 4%;
    width: 50%;
    max-width: 60%;
    height: 80%;
}
.intitule{
    display: flex;
    flex-direction: column;
    
}
.intitule h3{
    font-size: 20px;
    font-weight: bold;
    margin: 0;
    margin-bottom: 4%;
}
.intitule p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    width: 90%;
}

.etoiles{
    display: flex;
    flex-direction: row;
    margin-bottom: 2%;
    color: #0065fc;
}

.intitule p em{
    font-weight: bold;
    font-style: normal;
}


                    /*activités*/
#activites{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 6%;
    
}  
#activites h2{
    font-size: 26px;
    font-weight: bold;
}  
#lieux{
    display: none;
   /* flex-flow: row nowrap;*/
   flex-direction: column;
    justify-content: space-between;
    align-items: stretch;/**/
}
.lieux-activites{
    width: 22%;
    height: 400px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 25px;
    box-shadow: 0 0 5px 8px #f2f2f2;
}
.lieux-activites a{
    display: flex;
    flex-direction: column;
    text-decoration: none;
    color: #000;
    
}

.legende{
    width: 50%;
    height: 40px;
    padding-left: 20px;
    
}


    
    
    



/* Footer */
footer{
    display: flex;
    flex-direction: row;
    background-color: #f2f2f2;
    width: 100%;
    padding-left: 3%;
}
footer section{
    width: 33%;
    display: flex;
    flex-direction: column;
    margin-top: 2%;
    
}
section h3{
    font-size: 20px;
    font-weight: bold;
}
.pied-de-page{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.pied-de-page a{
    text-decoration: none;
    color: black;
    font-size: 20px;
    
}
.pied-de-page a:hover{
    color: #0065fc;
    border-bottom: 2px solid #0065fc;
}

/*----------------------------*/
/* Media Queries */

@media screen and ( max-width: 992px){
    body{
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }
    header nav{
        display: flex;
        flex-direction: column;
        margin-top: 5%;
        width: 100%;
       
    }
    nav a{
        border-bottom: 4px solid #f2f2f2;
        padding-bottom: 20px;
        margin-top: 5%;
    }
    nav a:hover{
        border-bottom: 2px solid #0065fc;
        color: #0065fc;
        padding-bottom: 20px;
        text-decoration: none;
        border-top: none;
    }
    #recherches{
        width: 80%;
        margin: auto;
    }
   
    #titre-recherches h1{
        font-size: 28px;
        margin-bottom: 0;
        margin-top: 20px;
    }
    #titre-recherches p{
        margin-top: 1%;
        margin-bottom: 50px;
        font-size: 16px;
    }
    
    /*filtres*/
    .filtres{
        display: flex;
        flex-direction: column;
       align-items: flex-start;
    }
    .options{
        margin-left: 0;
        width: 100%;
    }
    .choix{
        margin-bottom: 2%;
    }
    
    #info{
        width: 90%;
        margin-top: 2%;
    }

    /*Hebergements*/
    #conteneur{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .populaires{
        width: 100%;
        margin: auto;
       
    }
    .hebergements{
        width: 100%;
        margin: auto;
        margin-top: 40px;
    }


   
    
   
  

    
    



}

@media screen and (max-width : 768px){
   
    /*Titre-h1*/
    #titre-recherches h1{
       font-size: 22px;
    }
   
    /*Formulaire*/
    form{
      width: 350px;
      margin: auto;
    }
    .envoyer{
        display: none;
    }
    input{
        font-size: 18px;
        width: 200px;/*a definir*/
        
    }
   
    .icone-loupe{
        display: block;
        right: 0;
        top: 0;
    }
    /*Filtres*/
    .filtres{
        display: flex;
        flex-direction: column;
    }
    .choix{
        height: 40px;
        margin-right: 2%;
    }
    .choix div{
        width: 42px;
        height: 42px;
    }
    .choix p{
        font-size: 18px;
        padding-left: 10px;
        padding-right: 10px;
    }
    /*Info*/
    #info{
        width: 100%;
    }
    /*Conteneur*/
    #conteneur{
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
    }
    /*Les plus populaires*/
    .populaires{
        width: 100%;
        border-radius: 0;
    }
    .intitule h3{
        font-size: 18px;
    }
    
    /*Hebergements marseille*/
    .hebergements{
        width: 100%;
        border-radius: 0;
        background-color: #fff;
    }
    .hebergements h2{
        width: 100%;
        margin-left: 2%;
    }
    #chambre{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
       
    }
    .chambre a{
        width: 100%;
        
    }   
    .chambre a img{
        /*height: 100px;*/
        width: 100%;
    }
    .chambre a:hover{
        background-color: #deebff;
    }
    .nom-hotel h3{
        font-size: 18px;
    }
    .nom-hotel p{
        font-size: 14px;
    }







    /*Footer*/
    footer{
        display: flex;
        flex-direction: column;
    }
    footer section{
        width: 100%;
    }
   

    
   
}